body {
      /*background-color: pink;*/
}
.container {
    margin-top: 100px;
    text-align: center;
}
#timerLabel {
    margin: 100px 0px;
    /*color: rgba(223,190,106,0.7);*/
}
.myButton{
    margin-bottom: 30px;
    width: 180px;
    height: 50px;
    border: none;
    border-color: blue;
    font-size: 16px;
}
#reButton{
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    position: absolute;
    left: 100px;
    bottom: 50px;
}
.title, .myButton {
    /*font-family: 'Berkshire Swash', cursive;*/
    /*color: rgba(223,190,106,0.7);*/

}
.memo{
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 650px;
  border: none;
  border-radius: 6px;
  /*background-color: white;*/
  font-size: 30px;
  display: block;
}
#lapList{
  list-style-type: none;
  font-size: 1.6em;
}
