body {
    text-align: center;
    /*background-color: black;*/

}



.title {
    font-size: 40px;

}

.time {
    color: black;
    width: 300px;
    font-size: 30px;
    margin: 10px auto 40px;
    padding: 5px;
    border: solid black;

}
#time {

    font-size: 60px;
}

p {

  margin: 5px;
}

.canvas {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
}

.button{
    top:60;
}

button {
    font-size: large;
    width: 90px;
    height: 50px;
    margin: 550px auto 10px;
    padding: 5px;


}
