h1{

    position: relative;
    font-size: 7;
    left: 500px;

}
h2{
    top: 50px;
    position: relative;

    font-size: 6;
    left: 550px;
}

.startbtn{
    display: inline-block;
    position: relative;

    text-decoration: none;
    /*color: gold;*/
    width: 400px;
    height: 120px;
    left: 200px;
    top: 100px;
    line-height: 55px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    /*background:rgb(25, 0, 0);*/


}


.stopbtn{
    display: inline-block;
    position: relative;
    text-decoration: none;
    /*color: gold;*/
    width: 400px;
    height: 120px;
    left: 290px;
    top: 100px;
    line-height: 55px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    /*background: rgb(0, 25, 0);*/

}

.resetbtn{
    display: inline-block;
    position: relative;
    text-decoration: none;
    /*color: gold;*/
    /*background-color: rgb(0, 0, 25);*/
    width: 225px;
    height: 105px;
    left: 535px;
    top: 120px;
    line-height: 55px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;

}

.plus10s{
    position: relative;
    width: 80px;
    height: 60px;
    font-size: large;
    top: 120px;
    left: 580px;
    /*color: gold;
    background-color: black;*/
}

.cut10s{
    position: relative;
    width: 80px;
    height: 60px;
    font-size: large;
    top: 120px;

    /*color: gold;
    background-color: black;*/
}

.plus1m{
    position: relative;
    width: 80px;
    height: 60px;
    font-size: large;
    top: 120px;
    left: 630px;
    /*color: gold;
    background-color: black;*/
}

.cut1m{
    position: relative;
    width: 80px;
    height: 60px;
    font-size: large;
    top: 120px;
    left: -230px;
    /*color: gold;
    background-color: black;*/
}
.return{
    position: relative;
    width: 180px;
    height: 120px;
    font-size: large;
    left: -500px;
    top: 350px;
    /*color: gold;
    background-color: black;*/
}
